modules = ["nodejs-20", "bash", "web", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"
packages = ["at-spi2-atk", "at-spi2-core", "atk", "chromium", "cups", "gdk-pixbuf", "glib", "glibcLocales", "gtk3", "imagemagick", "jq", "libgbm", "libxkbcommon", "mesa", "nspr", "nss", "optipng", "alsa-lib", "dbus", "libdrm", "pango", "cairo", "xorg.libX11", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "expat"]

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 8081

[[ports]]
localPort = 33151
externalPort = 6800

[[ports]]
localPort = 36985
externalPort = 9000

[[ports]]
localPort = 37755
externalPort = 3000

[[ports]]
localPort = 38339
externalPort = 8099

[[ports]]
localPort = 38489
externalPort = 4200

[[ports]]
localPort = 39097
externalPort = 5000

[[ports]]
localPort = 40053
externalPort = 8008

[[ports]]
localPort = 40995
externalPort = 3003

[[ports]]
localPort = 41485
externalPort = 8080

[[ports]]
localPort = 42085
externalPort = 5173

[[ports]]
localPort = 42341
externalPort = 6000

[[ports]]
localPort = 42805
externalPort = 3002

[[ports]]
localPort = 45457
externalPort = 3001

[[ports]]
localPort = 46447
externalPort = 8000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_paypal:1.0.0"]
expertMode = true
